<!DOCTYPE  html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Welcome User</title>
		
		<!-- CSS -->
		<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/static/css/social-icons.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/static/css/nivo-slider.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/static/css/tabs.css" type="text/css" media="screen" />
		<link rel="stylesheet" media="screen" href="/static/css/superfish.css" /> 
		<link rel="stylesheet" media="screen" href="/static/css/superfish-left.css" /> 

	<link rel="stylesheet" href="css/jquery.tweet.css" media="all"  type="text/css"/> 

	</head>
	
	<body>

						
			
			<!-- Menu -->
			<div id="menu">
			
				
				<!-- ENDS menu-holder -->
				<div id="menu-holder">
					<!-- wrapper-menu -->
					<div class="wrapper">
						<!-- Navigation -->
						<ul id="nav" class="sf-menu">
							<li><a href="index.html">NITH Registration Portal</a></li>
						</ul>
						<ul id="nav" class="right">
							<li><a>User</a></li><li><a>Photo</a></li>
						</ul>
						<!-- Navigation -->
					</div>
					<!-- wrapper-menu -->
				</div>
				<!-- ENDS menu-holder -->
			</div>
			<!-- ENDS Menu -->
			
			
			

			
			<!-- MAIN -->
			<div id="main1">
				<!-- wrapper-main -->
				
					
					<!-- content -->
					
										<div id="this">
						<div class="full">
						<h1><p class="gray-box">Welcome *User*<br/>You have * books to return</p></h1><br/>
						<form id="contactForm1" action="." method="post">
						Hostel Fee Payment - 
						<select width="288" style="width:288px">
							<option value="kbh">KBH</option>
							<option value="mbh">HIMADRI</option>
							<option value="him">HIMGIRI</option>
							<option value="nbh">Neelkanth BH</option>
							<option value="manibh">Manimahesh BH</option>
							<option value="dbh">Dhauladhar BH</option>
							<option value="vidy">Vidyanchal BH</option>
							<option value="agh">AGH</option>
							<option value="pgh">PGH</option>
							<option value="satp">SATPURA</option>
							<option value="arav">ARAVALI</option>
							
						</select>
						</form>
						
						<p>Amount to be paid - *Amount*</p><br/>
						<div id="center">
						<p><form id="contactForm" action="#" method="post">
							<input type="button" value="Pay" onclick="window.location.href='pay2.html'" />
						</form></p>
						</div>
						</div>
						
												</div>
					

				
				<!-- ENDS wrapper-main -->
			</div>
			<!-- ENDS MAIN -->
			
	</body>
</html>
